{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Consultar cola</h1>
<form method="post" action=".">
  {% csrf_token %}
{% if cola %}
</br>
<h4>Nombre de la cola: {{cola.nombre_cola}}</h4></br>
<h4>Propietario: {{cola.propietario}}</h4></br>
<h4>Descripción: {{cola.descripcion}}</h4></br></br>
{% endif %}
	{{ form.as_p }}
  <input class='btn btn-block btn-primary' type="submit" value="Buscar cola" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>

{% endblock %}
